---
layout: page-fullwidth
title: "Publications"
permalink: "/publication/"
---
<a href="https://scholar.google.com/citations?hl=en&user=XU7ZT5kAAAAJ"> For a complete list of Bing Ren's publications, click here.</a> <br>
<a href="/renlab_website/publication/preprint/">For preprints, please click here.  </a><br>
Below is a list of representative peer-reviewed publications. (*equal contribution. <sup>#</sup>co-correspondence.)

{% capture lyear %} {{site.categories.publication.first.date |date: '%Y' }} {% endcapture %}
<ul>

{% for post in site.categories.publication %}
  {% capture year %}{{ post.date |date: '%Y' }}{% endcapture %}
  {% if year != lyear %}
   </ul>
     <h3> {{ post.date |date: '%Y'}} </h3>
     <ul>
     {% capture lyear %}{{ post.date |date: '%Y' }}{% endcapture %}
     {% endif %}
    <li>
      <i><b>{{ post.title }} </b> </i>
     <br> {{post.pub.authors}} <br>
      <b> {{post.pub.journal}}</b>, {{post.date|date: '%Y'}};doi:<a href="https://doi.org/{{post.pub.doi}}">{{post.pub.doi}}</a>
    </li>
    <br>
  {% endfor %}
</ul>

